/* Add CSS here */
.body-container {
    font-family: 'poppins', sans-serif;
    display: flex;
    background-color: #32244e;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    width: 100vw;
}

.bell {
    height: 50px;
    max-width: 300px;
    /* background-color: blue; */
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-end;
    margin-left: 270px;
}

.icon {
    background-color: #392a57;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5em;
    border-width: 2.5px;
    border-color: #5f2b59;
}

.container {
    max-width: 320px;
    height: 450px;
    background-color: #392a57;
    border-radius: 0.3em;
    margin: 0 auto;
}


.notif {
    height: 50px;
    width: 100%;
    background-color: #3d2e5c;
    display: flex;
    padding: 15px;
}

.notif h1 {
    color: wheat;
    font-size: 10px;
}

.content {
    /* background-color: blueviolet; */
    height: 360px;
}

.closet {
    /* background-color: darkblue; */
    height: 90px;
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 10px;
}

.font {
    height: 50px;
    width: 50px;
    background-color: aqua;
    background-size: cover;
    border-radius: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 7em;
}

.closet h2 {
    font-size: 10px;
    font-weight: 600;
    color: wheat;
}

.closet p {
    font-size: 8px;
    color: wheat;
}

.closet h3 {
    font-size: 9px;
    color: wheat;
}

.btn {
    font-size: 9px;
    color: wheat;
    height: 16px;
    width: 40px;
    border-radius: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #588fe3;
}

span {
    color: red;
}

.notif-1 {
    height: 50px;
    width: 100%;
    background-color: #3d2e5c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.notif-1 h1 {
    color: red;
    font-size: 10px;
}

.holder {
    display: none;
}

.closet-2 {
    background-color: #392a57;
    height: 90px;
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 10px;
}

.closet-2 h2 {
    font-size: 10px;
    font-weight: 600;
    color: wheat;
}

.closet-2 p {
    font-size: 8px;
    color: wheat;
}

.closet-2 h3 {
    font-size: 9px;
    color: wheat;
}

@media screen and (max-width:600px) {
    .body-container {
        font-family: 'poppins', sans-serif;
        display: flex;
        background-color: #32244e;
        align-items: center;
        justify-content: center;
        height: 100vh;
        flex-direction: column;
        width: 100vw;
    }

    .bell {
        height: 50px;
        width: 40%;
        /* background-color: blue; */
        display: flex;
        margin-bottom: 20px;
        margin-left: 160px;
        justify-content: flex-end;
    }

    .icon {
        background-color: #392a57;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5em;
        border-width: 2.5px;
        border-color: #5f2b59;
    }

    .container {
        width: 80%;
        height: 450px;
        background-color: #392a57;
        border-radius: 0.3em;
        margin: 0 auto;
    }


    .notif {
        height: 50px;
        width: 100%;
        background-color: #3d2e5c;
        display: flex;
        padding: 15px;
    }

    .notif h1 {
        color: wheat;
        font-size: 10px;
    }

    .content {
        /* background-color: blueviolet; */
        height: 360px;
    }

    .closet {
        /* background-color: darkblue; */
        height: 90px;
        width: 100%;
        padding: 20px;
        display: flex;
        gap: 10px;
    }

    .font {
        height: 50px;
        width: 50px;
        background-color: aqua;
        background-size: cover;
        border-radius: 7em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image {
        height: 50px;
        width: 50px;
        background-size: cover;
        border-radius: 7em;
    }

    .closet h2 {
        font-size: 10px;
        font-weight: 600;
        color: wheat;
    }

    .closet p {
        font-size: 8px;
        color: wheat;
    }

    .closet h3 {
        font-size: 9px;
        color: wheat;
    }

    .btn {
        font-size: 9px;
        color: wheat;
        height: 16px;
        width: 40px;
        border-radius: 4em;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #588fe3;
    }

    span {
        color: red;
    }

    .notif-1 {
        height: 50px;
        width: 100%;
        background-color: #3d2e5c;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    .notif-1 h1 {
        color: red;
        font-size: 10px;
    }

    .holder {
        display: none;
    }

    .closet-2 {
        background-color: #392a57;
        height: 90px;
        width: 100%;
        padding: 20px;
        display: flex;
        gap: 10px;
    }

    .closet-2 h2 {
        font-size: 10px;
        font-weight: 600;
        color: wheat;
    }

    .closet-2 p {
        font-size: 8px;
        color: wheat;
    }

    .closet-2 h3 {
        font-size: 9px;
        color: wheat;
    }
}